/*
================================================================================
  header#header
================================================================================
*/

@media (max-width: 992px) {
  header {
    height: 69px;
  }

  header .container {
    height: 100%;
  }

  header .container > div:nth-child(2) {
    display: block;
    cursor: pointer;
    color: var(--theme-color);
  }

  header .header-menu {
    display: none;
  }
}

@media (max-width: 336px) {
  body {
    margin-top: 52px;
  }

  header {
    height: 50px;
  }

  header img {
    height: 36px;
  }

  header .container > div:nth-child(2) i {
    font-size: 1.7rem;
  }
}

/*
================================================================================
  aside#side-menu
================================================================================
*/

@media (max-width: 500px) {
  aside img {
    height: 30px;
  }

  aside .right .btn {
    padding: 0.3rem 1rem;
  }

  aside .right i {
    font-size: 2rem;
  }

  aside .right a {
    margin-right: 1rem;
  }

  aside nav li {
    margin-bottom: 1rem;
  }
}

/*
================================================================================
  section#hero
================================================================================
*/

@media (max-width: 1200px) {
  #hero h1 {
    font-size: 4rem;
  }

  #hero .btn {
    font-size: 1rem;
    padding: 0.4rem 1.3rem;
  }

  #hero img {
    width: 70%;
  }
}

@media (max-width: 992px) {
  #hero {
    padding: 2rem 0;
  }

  #hero .container {
    grid-template-columns: 5fr 4fr;
  }

  #hero h1 {
    font-size: 3rem;
  }

  #hero .btn {
    padding: 0.3rem 1rem;
  }

  #hero img {
    width: 85%;
  }
}

@media (max-width: 768px) {
  #hero .container {
    grid-template-columns: 1fr;
  }

  #hero .container > div:nth-child(2) {
    grid-row: 1 / 2;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #hero img {
    width: 50%;
  }
}

@media (max-width: 576px) {
  #hero {
    padding: 1rem 0;
  }

  #hero .container {
    gap: 1rem;
  }

  #hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  #hero img {
    width: 70%;
  }

  #hero .btn {
    display: block;
    width: auto;
    margin-bottom: 0.6rem;
    margin-right: 0;
  }
}

/*
================================================================================
  section#company
================================================================================
*/

@media (max-width: 992px) {
  #company p {
    font-size: 1rem;
  }

  #company .app-about-container p {
    width: 85%;
  }
}

@media (max-width: 768px) {
  #company {
    padding: 2rem 0;
  }

  #company .app-about-container {
    grid-template-columns: 1fr;
  }

  #company .app-about-container p {
    width: 70%;
  }
}

@media (max-width: 400px) {
  #company .app-about-container p {
    width: 100%;
  }
}

/*
================================================================================
  section#drive
================================================================================
*/

@media (max-width: 992px) {
  #drive .container {
    grid-template-columns: 1fr;
  }

  #drive .container > div {
    grid-row: 1 / 2;
  }

  #drive img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #drive {
    padding: 2rem 0;
  }
}

@media (max-width: 576px) {
  #drive {
    padding-top: 0;
  }

  #drive article {
    margin-left: 0;
  }

  #drive img {
    width: 50%;
  }
}

@media (max-width: 400px) {
  #drive img {
    width: 70%;
  }
}

/*
================================================================================
  section#ride
================================================================================
*/

@media (max-width: 992px) {
  #ride .container {
    grid-template-columns: 1fr;
  }

  #ride .container > div {
    grid-row: 1 / 2;
  }

  #ride img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #ride {
    padding: 2rem 0;
  }

  #ride .btn {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  #ride article {
    margin-left: 0;
  }

  #ride img {
    width: 50%;
  }

  #ride p {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #ride img {
    width: 70%;
  }
}

/*
================================================================================
  section#vehicle
================================================================================
*/

@media (max-width: 992px) {
  #vehicle .owl-nav {
    position: relative;
  }

  #vehicle .owl-prev,
  #vehicle .owl-next {
    position: absolute;
    left: 0;
    top: 2rem;
  }

  #vehicle .owl-prev {
    left: 43%;
  }

  #vehicle .owl-next {
    left: 54%;
  }
}

@media (max-width: 576px) {
  #vehicle {
    padding: 2rem 0;
  }
}

/*
================================================================================
  section#why
================================================================================
*/

@media (max-width: 992px) {
  #why .why-container p {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #why .why-container {
    grid-template-columns: 1fr;
  }

  #why .why-container h2 {
    font-weight: 500;
  }
}

/*
================================================================================
  section#we
================================================================================
*/

@media (max-width: 992px) {
  #we {
    padding-bottom: 2rem;
  }

  #we h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  #we h1 {
    font-size: 1rem;
  }
}

/*
================================================================================
  section#safety
================================================================================
*/

@media (max-width: 992px) {
  #safety h2 {
    font-weight: 400;
  }

  #safety p {
    width: 90%;
    text-align: center;
  }

  #safety img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #safety .container > div {
    grid-template-columns: 1fr;
  }

  #safety .container > div:nth-child(3) img {
    grid-row: 1 / 2;
  }

  #safety h2 {
    margin-bottom: 1rem;
  }
}

/*
================================================================================
  section#featured
================================================================================
*/

@media (max-width: 992px) {
  #featured {
    padding: 3rem 0;
  }

  #featured h1 {
    margin-bottom: 3rem;
  }

  #featured .owl-prev,
  #featured .owl-next {
    color: #c7c7f5;
  }
}

/*
================================================================================
  section#join
================================================================================
*/

@media (max-width: 1200px) {
  #join h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  #join h1 {
    font-size: 1.5rem;
  }

  #join article p:nth-child(3) {
    font-size: 1rem;
  }

  #join img {
    width: 80%;
  }
}

@media (max-width: 576px) {
  #join .container {
    grid-template-columns: 1fr;
  }
}
