/*
================================================================================
  header#header
================================================================================
*/

@media (max-width: 992px) {
  header {
    height: 69px;
  }

  header .container {
    height: 100%;
  }

  header .container > div:nth-child(2) {
    display: block;
    cursor: pointer;
    color: var(--theme-color);
  }

  header .header-menu {
    display: none;
  }
}

@media (max-width: 336px) {
  body {
    margin-top: 52px;
  }

  header {
    height: 50px;
  }

  header img {
    height: 36px;
  }

  header .container > div:nth-child(2) i {
    font-size: 1.7rem;
  }
}

/*
================================================================================
  aside#side-menu
================================================================================
*/

@media (max-width: 500px) {
  aside img {
    height: 30px;
  }

  aside .right .btn {
    padding: 0.3rem 1rem;
  }

  aside .right i {
    font-size: 2rem;
  }

  aside .right a {
    margin-right: 1rem;
  }

  aside nav li {
    margin-bottom: 1rem;
  }
}
